<nav>
<!--   <h1>Hi.</h1> -->
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
<!--     <img src="/logo.png" id="logo" alt="Blog logo"/> -->
    {% endif %}
  </a>
  <h2>Alex Schenk</h2>
  <div id="bio">
    <p>STEM Educator in St. Louis, MO</p>
<!--     <p>AP Computer Science, GIS</p>
     <p>Student Council Advisor</p>
    <p>Passionate about <b>students.</b></p> -->
<!--     <p>
      Edit me in <code>_includes/sidebar.html</code>
    </p> -->
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
